[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
google-generativeai = "*"
pymongo = "*"
fpdf = "*"

[dev-packages]

[requires]
python_version = "3.9"