<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Idea Generation - Om Bhojane</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/ideagen.css"/>
    <link rel="stylesheet" href="/static/css/mediastyle.css" />
  </head>
  <body>
    <nav id="desktop-nav">
      <div class="logo">Om Bhojane</div>
      <div>
        <ul class="nav-links">
          <li><a href="/#about  ">About</a></li>
          <li><a href="/ideas">Ideas</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/timeline">Timeline</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <nav id="hamburger-nav">
      <div class="logo">Om Bhojane</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="/#about" onclick="toggleMenu()">About</a></li>
          <li><a href="/ideas">Ideas</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/timeline">Timeline</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </nav>
    <section id="idea-generation">
      <h1 class="title" style="padding-bottom: 10px;">Turn Thoughts into Ideas</h1>
    <p style="max-width: 1000px;">IdeaGen is an innovative tool designed to help you transform your thoughts into concrete project ideas. Whether you're a student, developer, or entrepreneur, IdeaGen assists you in generating unique and tailored project concepts.</p>
      <p>What's new:</p>
      <ul class="ul">
        <li>Idea Retention: Now you can reserve the idea, which will not recommended to others </li>
        <li>Increased Accuracy</li>
        <li>More relevant parameters added for best idea generation</li>
      </ul>
      <div class="iframe-container">
        <iframe
          src="https://ombhojane-ideagen.hf.space"
          frameborder="0"
          width="850"
          height="450"
        ></iframe>
      </div>
    </section>
    <footer>
      <p>Copyright &#169; 2023 Om Bhojane.</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>