<!-- events - 
hackathons - 
mentor at hackwave
hack at kharghar
party with gdsc  at web3
quantiphi, 
devs somethings 2
mumbai hacks winter 
nasaspaceapps
hack4change 
amplify
mumbai hacks summer
hackatsits-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline - Om Bhojane</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/mediastyle.css" />
    <link rel="stylesheet" href="/static/css/timeline.css" />
</head>
<body>
    <nav id="desktop-nav">
        <div class="logo">Om Bhojane</div>
        <div>
          <ul class="nav-links">
            <li><a href="/#about">About</a></li>
            <li><a href="/ideas">Ideas</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <nav id="hamburger-nav">
        <div class="logo">Om Bhojane</div>
        <div class="hamburger-menu">
          <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu-links">
            <li><a href="/#about" onclick="toggleMenu()">About</a></li>
            <li><a href="/ideas">Ideas</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
          </div>
        </div>
      </nav>

    <section id="timeline">
        <h1 class="title">My Journey So Far</h1>
        <p class="timeline-description">Here's the gallery view of some milestones and notable moments that happened so far. And you can always find more information on <a href="#">Twitter</a>, <a href="#">LinkedIn</a> and <a href="#">Instagram</a>.</p>
        
        <div class="timeline-container">
            <div class="timeline-card ">
                <div class="timeline-date-location">Bangalore • 23 March 2024</div>
                <div class="timeline-content">
                    <div class="timeline-image">
                        <img src="/static/assets/chalokisaan.png" alt="Build with AI Roadshow">
                    </div>
                    <div class="timeline-text">
                        <h3>Presented Chalo Kisaan at Build with AI Roadshow</h3>
                        <p>One of 3 teams from India to present our Solution Challenge project 'Chalo Kisaan' at the Build with AI Roadshow in Bangalore.</p>
                    </div>
                </div>
            </div>
        

            <div class="timeline-card">
                <div class="timeline-date-location">Mumbai • 23 February, 2024</div>
                <div class="timeline-content">
                    <div class="timeline-image">
                        <img src="path/to/code-qraft-image.jpg" alt="Code Qraft Hackathon">
                    </div>
                    <div class="timeline-text">
                        <h3>Winner of Quantiphi CodeQraft Hackathon</h3>
                        <p>Achieved my first hackathon win at Quantiphi's Code Qraft! Developed 'codecraft', a solution to improve clarity between Product Managers and Developers, addressing issues of redevelopment and increased iterations.</p>
                    </div>
                </div>
            </div>
        
            <div class="timeline-card">
                <div class="timeline-date-location">Mumbai • December 10, 2023 - February 22, 2024</div>
                <div class="timeline-content">
                    <div class="timeline-image">
                        <img src="path/to/solution-challenge-image.jpg" alt="GDSC Solution Challenge">
                    </div>
                    <div class="timeline-text">
                        <h3>GDSC Solution Challenge</h3>
                        <p>Developed 'Chalo Kisaan', a project empowering farmers to build agritourism services, addressing UN Sustainable Development Goals and providing additional income sources for farmers.</p>
                    </div>
                </div>
            </div>
        
            
        
            <div class="timeline-card">
                <div class="timeline-date-location">Mumbai • August 2023</div>
                <div class="timeline-content">
                    <div class="timeline-image">
                        <img src="path/to/gdsc-image.jpg" alt="GDSC APSIT">
                    </div>
                    <div class="timeline-text">
                        <h3>Joining GDSC APSIT Crew!</h3>
                        <p>Took on the role of AI Lead at Google Developer Student Clubs APSIT. Sharing insights about AI, connecting with peers, and growing the community through insightful discussions and events.</p>
                    </div>
                </div>
            </div>
        
            <div class="timeline-card ">
                <div class="timeline-date-location">Mumbai • July 21-22, 2023</div>
                <div class="timeline-content">
                    <div class="timeline-image">
                        <img src="path/to/ai-amplify-image.jpg" alt="AI Amplify Hackathon">
                    </div>
                    <div class="timeline-text">
                        <h3>AI Amplify Hackathon</h3>
                        <p>Participated in the AI Amplify Hackathon by 1Finance and Atrina with Team Tech Surfers. Combined diverse tech stacks to create an efficient product, sharing life experiences and learning paths.</p>
                    </div>
                </div>
            </div>
        
            <div class="timeline-card">
                <div class="timeline-date-location">Mumbai • June 3-4, 2023</div>
                <div class="timeline-content">
                    <div class="timeline-image">
                        <img src="path/to/mumbai-hacks-image.jpg" alt="Mumbai Hacks">
                    </div>
                    <div class="timeline-text">
                        <h3>Mumbai Hacks Summer Edition</h3>
                        <p>Joined a team of 4 anonymous members at GDG MAD's Mumbai Hacks. Created a Mental Health GPT to guide users on whether they should consult a therapist, focusing on respectful collaboration.</p>
                    </div>
                </div>
            </div>
        
            <div class="timeline-card ">
                <div class="timeline-date-location">Mumbai • March 18-19, 2023</div>
                <div class="timeline-content">
                    <div class="timeline-image">
                        <img src="path/to/hackscript-image.jpg" alt="Hackscript Hackathon">
                    </div>
                    <div class="timeline-text">
                        <h3>Hackscript Hackathon</h3>
                        <p>Participated in my first 24-hour hackathon at A. P. Shah Institute of Technology. Our team "Squash" developed a Smart Traffic Management System named Mini-Spies to reduce AQI levels in crowded city areas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <p class="section__text__p1">Get in Touch</p>
        <h1 class="title">Contact Me!</h1>
        <div class="contact-info-upper-container">
          <div class="contact-info-container">
            <img
              src="/static/assets/email.png"
              alt="Email icon"
              class="icon contact-icon email-icon"
            />
            <p><a href="mailto:examplemail@gmail.com">ombhojane05@gmail.com</a></p>
          </div>
          <div class="contact-info-container">
            <img
              src="/static/assets/linkedin.png"
              alt="LinkedIn icon"
              class="icon contact-icon"
            />
            <p><a href="https://www.linkedin.com/in/om-bhojane/">LinkedIn</a></p>
          </div>
        </div>
      </section>

    <footer>
        <p>Copyright &#169; 2024 Om Bhojane. All Rights Reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>